/**
 * This file should contain references to text, font sizes,
 * text colours, background colours, and so forth. It should
 */

p {
  font-size: 0.875em;
}

.campaign-public-layout .main-content h1,
.campaign-public-layout .main-content h2,
.campaign-public-layout .main-content h3,
.campaign-public-layout .main-content h4,
.campaign-public-layout .main-content h5,
.campaign-public-layout .main-content h6,
.character-index.campaign-public-layout .character-quick-search h4,
.item-index.campaign-public-layout .character-quick-search h4 {
  color: var(--text-color-big);
  border-bottom: none;
}

.campaign-public-layout #sidebar {
  color: var(--text-color-body);
}

.preview-contnet h1,
.preview-content h2,
.preview-content h3,
.section-header.stream .section-header-icon,
.section-header.stream .name,
.op-icon-gm,
input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='tel']::placeholder,
textarea::placeholder {
  color: var(--text-color-soft);
}

.campaign-landing-show .campaign-landing-page-container,
.campaign-maps-new .secret-sections > section,
.campaign-maps-new section.main-section,
.campaign-public-layout #sidebar .module,
body.campaign-public-layout .post-section.post-gm-only,
body.campaign-public-layout .post-section.post-main,
.campaign-public-layout.characters-edit .secret-sections > section,
.campaign-public-layout.characters-edit section.main-section,
.campaign-public-layout.items-edit .secret-sections > section,
.campaign-public-layout.items-edit section.main-section,
.campaign-public-layout .main-content,
.campaign-public-layout.posts-edit .secret-sections > section,
.campaign-public-layout.posts-edit section.main-section,
.campaign-public-layout.wiki-pages-edit .secret-sections > section,
.campaign-public-layout.wiki-pages-edit section.main-section,
.campaign-public-layout.wiki-pages-edit section.main-section label,
.character-index.campaign-public-layout .character-list-item,
.character-index.campaign-public-layout .character-quick-search,
.character-index.campaign-public-layout .filter-options,
.character-show .main-content section,
.event-edit .secret-sections > section,
.event-edit section.main-section,
.item-index.campaign-public-layout .character-list-item,
.item-index.campaign-public-layout .character-quick-search,
.item-index.campaign-public-layout .filter-options,
.item-show .main-content section,
.sidebar-last-updated {
  background-color: var(--content-bg-light);
  color: var(--text-color-body);
}

ul.as-selections li.as-selection-item {
  color: #333;
}

/**
  For better readability, this will make the h2 heading
  have a line below and a gap above. That'll allow us to better
  separate content on a wiki page by using h2 headings.
*/
.campaign-public-layout .main-content h2,
.wiki-page div[itemprop='text'] h2,
.gm-only-header.title,
.post-gm-only .title {
  border-bottom: 1px solid var(--bottom-line-color);
  margin-top: 32px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

/**
  Some page headings use a h2 at the top of the page, so let's
  reset that height for them.
*/
.campaign-public-layout .main-content h2.wiki-page-name,
.campaign-public-layout .main-content h2.title-edit {
  margin-top: 0px;
}

body.campaign-public-layout .title ~ div[itemprop='text'] {
  margin-top: 24px;
}

.social-share-button {
  display: none;
}
