/**
 * This file should contain references to text, font sizes,
 * text colours, background colours, and so forth. It should
 */

/**
  Change the main body font size.
*/
p {
  font-size: 0.875em;
}

/**
  Reduce the font size of the latest update
  module in the campaign sidebar.
*/
.campaign-public-layout .campaign-stream-module .summary {
  font-size: 0.875em;
}

/**
  Give the heading text colour to all headings, and the body
  text colour to all relevant body element. This also includes
  Other adjustments and tweaks to how these text elements show.
*/
.campaign-public-layout .main-content h1,
.campaign-public-layout .main-content h2,
.campaign-public-layout .main-content h3:not(.subtitle),
.campaign-public-layout .main-content h4:not(.subtitle),
.campaign-public-layout .main-content h5:not(.subtitle),
.campaign-public-layout .main-content h6:not(.subtitle),
.character-index.campaign-public-layout .character-quick-search h4,
.item-index.campaign-public-layout .character-quick-search h4,
body.campaign-public-layout .title a {
  color: var(--text-color-big);
  border-bottom: none;
}

.campaign-public-layout .main-content-container label {
  color: var(--text-color-body);
  margin-top: 4px;
  margin-bottom: 8px;
}

.preview-contnet h1,
.preview-content h2,
.preview-content h3,
.section-header.stream .section-header-icon,
.section-header.stream .name,
.op-icon-gm,
.adventure-log-index .day, 
.adventure-log-show .day,
.adventure-log-index .month-year, 
.adventure-log-show .month-year,
input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='tel']::placeholder,
textarea::placeholder {
  color: var(--text-color-soft);
}

.campaign-landing-show .campaign-landing-page-container,
.campaign-maps-new .secret-sections > section,
.campaign-maps-new section.main-section,
.campaign-public-layout #sidebar .module,
body.campaign-public-layout .post-section.post-gm-only,
body.campaign-public-layout .post-section.post-main,
.campaign-public-layout.characters-edit .secret-sections > section,
.campaign-public-layout.characters-edit section.main-section,
.campaign-public-layout.items-edit .secret-sections > section,
.campaign-public-layout.items-edit section.main-section,
.campaign-public-layout.posts-edit .secret-sections > section,
.campaign-public-layout.posts-edit section.main-section,
.campaign-public-layout.wiki-pages-edit .secret-sections > section,
.campaign-public-layout.wiki-pages-edit section.main-section,
.campaign-public-layout.wiki-pages-edit section.main-section label,
.character-index.campaign-public-layout .character-list-item,
.character-index.campaign-public-layout .character-quick-search,
.character-index.campaign-public-layout .filter-options,
.character-show .main-content section,
.event-edit .secret-sections > section,
.event-edit section.main-section,
.item-index.campaign-public-layout .character-list-item,
.item-index.campaign-public-layout .character-quick-search,
.item-index.campaign-public-layout .filter-options,
.item-show .main-content section,
.sidebar-last-updated,
.character-show .main-content #gm-secrets,
.item-show .main-content #gm-secrets,
.campaign-public-layout .post-section.post-gm-only,
.campaign-map-index .map-placard {
  background-color: var(--content-bg-light);
  color: var(--text-color-body);
}

.campaign-public-layout #sidebar {
  background-color: var(--content-bg-light);
  color: var(--text-color-body);
}

/**
  Recolour the borders at the bottom of headings
  to fit with the theming.
*/
.campaign-public-layout .main-content h2,
.wiki-page div[itemprop='text'] h2,
.gm-only-header.title,
.post-gm-only .title,
.character-show .main-content section .title,
.item-show .main-content section .title .post-gm-only .gm-only-header.title,
.campaign-public-layout .main-content h4.gm-only-header.title
.post-gm-only .title,
#gm-secrets .gm-only-header.title,
#gm-secrets .title,
.secret-section .gm-only-header.title,
.secret-section .title {
  border-bottom: 1px solid var(--bottom-line-color) !important;
}

/**
  For better readability, this will make the h2 heading
  have a line below and a gap above. That'll allow us to better
  separate content on a wiki page by using h2 headings.
*/
.campaign-public-layout .main-content h2,
.wiki-page div[itemprop='text'] h2,
.gm-only-header.title,
.post-gm-only .title {
  margin-top: 32px;
  margin-bottom: 10px;
  padding-bottom: 2px;
}

/**
  We need to make some heading adjustments for the top heading
  on different pages. Partly to clear the h2 spacing for the
  topmost page header, and partly because the GM Only header
  needs a little more breathing room.
*/
.campaign-public-layout .main-content h2.wiki-page-name,
.campaign-public-layout .main-content h2.title-edit,
.campaign-public-layout .main-content h2.character-name,
.campaign-public-layout .main-content h2.adventure-log-post-title {
  margin-top: 0px;
}

.campaign-public-layout .main-content h4.gm-only-header.title {
  margin-top: 8px;
}

/**
  Add a little extra space between the title of a page and the
  text following on after.
*/
body.campaign-public-layout .title ~ div[itemprop='text'] {
  margin-top: 24px;
}

ul.as-selections li.as-selection-item {
  color: #333;
}
