/**
  This file contains all styling for the left-hand
  nav sidebar.
*/

/**
  Change styling for the sidebar, to fill out
  the button space more properly.
*/
.collapsable-nav-row .front-nav-container {
  padding: 16px 0px 0px;
}

.collapsable-nav-row .front-nav-container nav {
  width: 100%;
}

.collapsable-nav-row .front-nav-container nav li {
  padding-left: 16px;
}

/**
  Left sidebar gradient
*/
.collapsable-nav-row .front-nav-container {
  background: -moz-linear-gradient(
    to bottom,
    var(--sidebar-gradient-top) 0%,
    var(--sidebar-gradient-bottom) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    var(--sidebar-gradient-top) 0%,
    var(--sidebar-gradient-bottom) 100%
  );
  background: -o-linear-gradient(
    to bottom,
    var(--sidebar-gradient-top) 0%,
    var(--sidebar-gradient-bottom) 100%
  );
  background: -ms-linear-gradient(
    to bottom,
    var(--sidebar-gradient-top) 0%,
    var(--sidebar-gradient-bottom) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--sidebar-gradient-top) 0%,
    var(--sidebar-gradient-bottom) 100%
  );
  padding-top: 0.9375em;
}

/**
  Left sidebar nav buttons
*/

.campaign-public-layout #campaign-nav {
  background: none;
}

.campaign-public-layout #campaign-nav .icon {
  background: none;
}

.campaign-public-layout #campaign-nav li {
  opacity: 0.6;
  font-weight: normal;
}

.campaign-public-layout #campaign-nav li.active {
  opacity: 1;
}

/**
  MEDIUM-LARGE SCREENS
  Collapse the left-hand sidebar to just a narrow list of buttons
*/
@media screen and (max-width: 1139px) {
  .collapsable-nav-row .front-nav-container nav li {
    padding-left: 8px;
  }
  .collapsable-nav-row .front-nav-container .nav-text {
    display: none;
  }
}
