/**
  This contains styling for the right-hand sidebar modules,
  as well as how they should reposition and collapse at
  different sizes.
*/

/**
  Add extra padding and shift margins on the right-hand
  sidebar module elements.
*/
.campaign-public-layout #sidebar .sidebar-party-members,
.campaign-public-layout #sidebar .sidebar-quick-stats,
.campaign-public-layout #sidebar .sidebar-last-updated,
.campaign-public-layout #sidebar .campaign-stream-module {
  width: 100%;
  border: none;
  padding: 16px;
  margin-bottom: 16px;
}

.sidebar-quick-stats .fan-counter-container {
  margin-top: 16px;
}

/**
  Clean sidebar background styles
*/

.sidebar-party-members .game-master {
  background: none;
  border: none;
  max-width: none;
}

/**
  Recolour some backgrounds to match
  the theme.
*/
.fan-count-wrapper,
.comment-count-wrapper,
.sidebar-last-updated .updated-by-container .who {
  background: var(--content-bg-accent);
  border: none;
  max-width: none;
}

/**
  Adjust some sidebar elements and how they're sized.
*/
.sidebar-see-all-wiki-pages {
  padding: 0px 16px !important;
}

.sidebar-last-updated,
.sidebar-see-all-wiki-pages,
.see-all-wiki-pages-button {
  width: 100% !important;
}

/**
  The quick-stats numbers don't really need to use columns
  like they are. This is a really hacky way to undo that, but
  it works.
*/
.quick-stats-container .row {
  display: flex;
}
.quick-stats-container .row .small-5 {
  width: 100px;
  flex-shrink: 0;
}
.quick-stats-container .row .small-7 {
  width: 100%;
}

/**
  Shrink GM icon max size.
*/
.sidebar-party-members .game-master .small-3 {
  max-width: 50px;
}

/**
  Tidy player icon sizes
*/
.sidebar-party-members .player-characters .player {
  clear: none;
  max-width: 70px;
  max-height: 60px;
  padding-bottom: 0.625em;
}
.sidebar-last-updated .updated-by-container .when .time {
  padding-top: 0px;
}
.recent-updates .recent-update .avatar {
  max-width: 80px;
}

/**
  Fix an alignment issue with the fan button
**/
.sidebar-quick-stats .become-a-fan-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-quick-stats .become-a-fan-button .icon-card-hearts {
  display: block;
}
.sidebar-quick-stats .become-a-fan-button .text {
  top: 0;
  margin-left: 6px;
}

/**
  The Campaign Stream module has some pading that breaks with
  the sidebar rework in this theme, so this deals with that.
*/
#campaign-stream .stream-module-container {
  margin: 0px;
}
#campaign-stream .stream-module-container .large-12 {
  padding: 0px;
}

/**
  MEDIUM-LARGE SCREENS
*/
@media screen and (max-width: 1139px) {
  .fan-counter-container .become-a-fan-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fan-counter-container .become-a-fan-button .text {
    display: none;
  }
}

/**
  For Mobile screens
*/
@media screen and (max-width: 769px) {
  .campaign-public-layout #sidebar {
    display: block;
  }

  .campaign-public-layout #sidebar .sidebar-party-members,
  .campaign-public-layout #sidebar #campaign-quick-stats,
  .campaign-public-layout #sidebar #campaign-stream {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
  }
}
