/**
  This file contains everything for shifting the main-page elements
  around at different display sizes (the left-hand nav sidebar, the
  main content body, and the right-hand sidebar).
*/

/**
  PAGE BODY
  Change the body background colour and override Obsidian Portal's
  content max-width so we can do all that ourselves.
*/

.campaign-public-layout {
  background-color: var(--body-bg-color);
}

.campaign-public-layout #content {
  width: 100%;
  max-width: 100%;
}

/**
  The collapsable nav row contains three parts; the left-hand
  sidebar, the middle main content, and the right-hand campaign
  details sidebar. Let's turn that into a flex element and
  add a single solid background to all of it.
*/

.campaign-public-layout .collapsable-nav-row {
  display: grid;
  background-color: var(--content-bg-dark);
  max-width: var(--content-max-width);
  padding: 16px;
  grid-gap: 16px;
  grid-template-columns: 160px auto 260px;
  grid-template-areas: 'navArea mainArea sidebarArea';
}
.collapsable-nav-row::after {
  display: none;
}

/**
  Override width and padding of grid-area items, so they'll
  fill their respective grid areas, and assign them to an
  area.
*/
.collapsable-nav-row .front-nav-container {
  grid-area: navArea;
  width: 100%;
  padding: 0px;
}

.collapsable-nav-row .main-content-container {
  grid-area: mainArea;
  width: 100%;
  padding: 0px;
}

.collapsable-nav-row .sidebar {
  grid-area: sidebarArea;
  width: 100%;
  padding: 0px;
}

/**
  MEDIUM-LARGE SCREENS
  Knock the right-hand sidebar to the bottom of the page, but make
  the left-hand nav stretch all the way to the botto mof the pa
*/

@media screen and (max-width: 1140px) {
  .campaign-public-layout .collapsable-nav-row {
    grid-template-columns: 160px auto;
    grid-template-areas:
      'navArea mainArea'
      'navArea sidebarArea';
  }
}

/**
  MEDIUM SCREENS AND DOWN
  This is where the left-hand sidebar disappears, so the
  grid changes back into a direct vertical display.
*/
@media screen and (max-width: 768px) {
  .campaign-public-layout .collapsable-nav-row {
    display: block;
    grid-template-areas: none;
  }
}
