/**
  Heading style for the campaign body element. Everything
  that is part of the pag emain content is under
  .collapsable-nav-row
*/

/** Styles for the body element, which has the given
  class '.campaign-public-layout'.
*/

.campaign-public-layout {
  background-color: var(--gradient-color-dark);
}

.campaign-public-layout #content {
  width: 100%;
  max-width: 100%;
}

/**
  Styles for the main body, that contains the sidebars and
  the main center content.
*/

.collapsable-nav-row {
  position: relative;
  background-color: var(--main-bg-color);
  max-width: var(--content-max-width);
}

/**
  For Extra Large screens
*/

@media screen and (min-width: 1140px) {
  .collapsable-nav-row {
    display: flex;
  }

  .collapsable-nav-row .main-content-container {
    width: 100%;
    padding-top: 0px;
  }
}

/**
  For Large screens
*/

@media screen and (max-width: 1139px) and (min-width: 941px) {
  .collapsable-nav-row .main-content-container {
    float: none;
    width: auto;
    margin-left: 160px;
  }
}
