/**
  Left sidebar gradient
*/
.collapsable-nav-row .front-nav-container {
  background: -moz-linear-gradient(0deg,
      var(--gradient-color-dark) 0%,
      var(--gradient-color-light) 100%);
  background: -webkit-linear-gradient(0deg,
      var(--gradient-color-dark) 0%,
      var(--gradient-color-light) 100%);
  background: -o-linear-gradient(0deg,
      var(--gradient-color-dark) 0%,
      var(--gradient-color-light) 100%);
  background: -ms-linear-gradient(0deg,
      var(--gradient-color-dark) 0%,
      var(--gradient-color-light) 100%);
  background: linear-gradient(0deg,
      var(--gradient-color-dark) 0%,
      var(--gradient-color-light) 100%);
  padding-top: 0.9375em;
}

/**
  Left sidebar nav buttons
*/

.campaign-public-layout #campaign-nav {
  background: none;
}

.campaign-public-layout #campaign-nav .icon {
  background: none;
}

.campaign-public-layout #campaign-nav li {
  opacity: 0.6;
  font-weight: normal;
}

.campaign-public-layout #campaign-nav li.active {
  opacity: 1;
}

/**
  Styling of the left-hand nav sidebar on larger screens. The
  inner width of the campaign nav is hardcoded to work around
  the CSS that's being overwritten.
*/

.collapsable-nav-row .front-nav-container {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

.collapsable-nav-row .front-nav-container #campaign-nav {
  width: 130px;
}

/**
  For Large screens. The left-hand can't anchor down to the
  bottom of the page in the same way at this resolution, so
  we're cheating the system by making it absolute.
*/

@media screen and (max-width: 1139px) and (min-width: 941px) {
  .collapsable-nav-row .front-nav-container {
    position: absolute;
    height: 100%;
  }

  .collapsable-nav-row .front-nav-container #campaign-nav {
    width: 130px;
  }

  .collapsable-nav-row .main-content-container,
  .campaign-public-layout #sidebar {
    float: none;
    width: auto;
    margin-left: 160px;
    padding-right: 0px;
  }
}

/**
  For Medium / Tablet screens and down
*/

@media screen and (max-width: 940px) {
  .collapsable-nav-row {
    display: flex;
    flex-direction: column;
  }

  .collapsable-nav-row .front-nav-container {
    display: none !important;
  }
}
