/**
  Add extra padding and shift margins on the right-hand
  sidebar module elements.
*/
.campaign-public-layout #sidebar .sidebar-party-members,
.campaign-public-layout #sidebar .sidebar-quick-stats,
.campaign-public-layout #sidebar .sidebar-last-updated,
.campaign-public-layout #sidebar .campaign-stream-module {
  width: 100%;
  border: none;
  padding: 16px;
  margin-bottom: 16px;
}

.sidebar-quick-stats .fan-counter-container {
  margin-top: 16px;
}

/**
  Clean sidebar background styles
*/

.sidebar-party-members .game-master {
  background: none;
  border: none;
  max-width: none;
}
.fan-count-wrapper,
.comment-count-wrapper {
  background: var(--content-bg-accent-2);
  border: none;
  max-width: none;
}



.sidebar-last-updated {
  width: 100% !important;
}

.sidebar-see-all-wiki-pages {
  padding: 0px !important;
}

.sidebar-party-members .game-master .small-3 {
  max-width: 50px;
}

.sidebar-party-members .player-characters .player {
  clear: none;
  max-width: 70px;
  max-height: 60px;
  padding-bottom: 0.625em;
}

.sidebar-last-updated .updated-by-container .when .time {
  padding-top: 0px;
}

.recent-updates .recent-update .avatar {
  max-width: 80px;
}

.campaign-public-layout #campaign-footer .inline-list > li {
  margin-left: 0.7em !important;
}

/**
  For Extra Large screens
*/

@media screen and (min-width: 1140px) {
  .campaign-public-layout #sidebar {
    min-width: 250px;
    margin-top: 0;
    padding: 0;
  }
}

/**
  For Large screens
*/

@media screen and (max-width: 1139px) and (min-width: 941px) {
  .campaign-public-layout #campaign-footer {
    margin-bottom: 0px;
  }

  .campaign-public-layout #sidebar {
    display: flex;
    flex-wrap: wrap;
  }

  .campaign-public-layout #sidebar .sidebar-party-members {
    width: calc(50% - 8px);
    margin-right: 8px;
  }

  .campaign-public-layout #sidebar #campaign-quick-stats {
    width: calc(50% - 8px);
    margin-left: 8px;
  }
}

/**
  For Medium / Tablet screens and down
*/

@media screen and (max-width: 940px) {
  .campaign-public-layout #campaign-footer {
    margin-bottom: 0px;
  }

  .campaign-public-layout #sidebar {
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 100%;
    padding: 0px;
  }

  .campaign-public-layout #sidebar .sidebar-party-members {
    width: calc(50% - 8px);
    margin-right: 8px;
  }

  .campaign-public-layout #sidebar #campaign-quick-stats {
    width: calc(50% - 8px);
    margin-left: 8px;
  }
}

/**
  For Mobile screens
*/

@media screen and (max-width: 600px) {
  .campaign-public-layout #sidebar {
    display: block;
  }

  .campaign-public-layout #sidebar .sidebar-party-members,
  .campaign-public-layout #sidebar #campaign-quick-stats {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
