/**
  This file contains everything for shifting the main-page elements
  around at different display sizes (the left-hand nav sidebar, the
  main content body, and the right-hand sidebar).
*/

/**
  PAGE BODY
  Change the body background colour and override Obsidian Portal's
  content max-width so we can do all that ourselves.
  This also affects the content layout so that the main page body 
  will stretch until the end of the page if it is shorter.
*/
.campaign-public-layout {
  background-color: var(--body-bg-color);
}
.campaign-public-layout #content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
  width: 100%;
  max-width: 100%;
}
.campaign-public-layout #campaign-summary-row {
  flex-shrink: 0;
}
.campaign-public-layout .collapsable-nav-row {
  flex-grow: 1;
}

/**
  PAGE BACKGROUND
  Handle the height and positioning of the background image. 
*/
.campaign-public-layout .page-background {
  position: absolute;
  max-height: var(--background-image-height);
  background-position: var(--background-image-position);
}


/**
  The collapsable nav row contains three parts; the left-hand
  sidebar, the middle main content, and the right-hand campaign
  details sidebar. Let's turn that into a flex element and
  add a single solid background to all of it.
*/
.campaign-public-layout .collapsable-nav-row {
  display: flex;
  background-color: var(--content-bg-dark);
  max-width: var(--content-max-width);
  padding: var(--content-padding);
}

/**
  Arrange the three columns in the flex-area.
*/
.collapsable-nav-row .front-nav-container {
  width: 160px;
  flex-shrink: 0;
  margin-right: 16px;
}
.collapsable-nav-row .main-content-container {
  width: 100%;
  padding: 0px;
}

/**
  Fixes for pages that don't have a sidebar. The Character
  page especially has some issues with being 100% wide.
  Probably box-sizing doing it somewhere.
*/
.collapsable-nav-row .main-content-container.full-width {
  width: calc(100% - 176px);
  padding: 0px;
}
.collapsable-nav-row .sidebar {
  width: 280px;
  flex-shrink: 0;
  padding: 0px;
  margin-left: 16px;
}

/**
  Narrow the gap between sections on post pages, so it matches
  the gap on the sides.
*/
body.campaign-public-layout .post-section {
  margin-bottom: 16px;
}

/**
  Add spacing between footer links
*/
.campaign-public-layout #campaign-footer .inline-list > li {
  margin-left: 0.7em !important;
}

/**
  MEDIUM-LARGE SCREENS
  Knock the right-hand sidebar to the bottom of the page, but make
  the left-hand nav stretch all the way to the bottom of the page.
*/
@media screen and (max-width: 1139px) {
  .collapsable-nav-row .front-nav-container {
    width: 52px;
  }
  .collapsable-nav-row .sidebar {
    width: 220px;
  }
  .collapsable-nav-row .main-content-container.full-width {
    width: calc(100% - 86px);
  }
}

/**
  MOBILE SCREENS
  This is where the page draws out to a full-width, vertical
  colun layout for mobile displays.
*/
@media screen and (max-width: 769px) {
  .campaign-public-layout .collapsable-nav-row {
    flex-wrap: wrap;
  }

  .collapsable-nav-row .main-content-container,
  .collapsable-nav-row .main-content-container.full-width,
  .collapsable-nav-row .sidebar {
    display: block;
    width: 100%;
    margin: 0px;
  }

  .campaign-public-layout #campaign-footer {
    margin-bottom: 0px;
  }
  .campaign-public-layout #campaign-footer .links {
    padding: 0px 16px;
  }

  /**
    Overwrite padding and margin insertions that happen
    at this screen size for whatever reason.
  */
  .collapsable-nav-row .main-content-container {
    padding-top: 0px !important;
  }
  .campaign-public-layout #sidebar {
    margin-top: 0px !important;
  }
}
