/**
  Heading style for the campaign body element. Everything
  that is part of the pag emain content is under
  .collapsable-nav-row
*/

/** Styles for the body element, which has the given
  class '.campaign-public-layout'.
*/

.campaign-public-layout {
  background-color: var(--sidebar-gradient-bottom);
}

.campaign-public-layout #content {
  width: 100%;
  max-width: 100%;
}

/**
  Styles for the main body, that contains the sidebars and
  the main center content.
*/

.collapsable-nav-row {
  position: relative;
  background-color: var(--content-bg-dark);
  max-width: var(--content-max-width);
  padding: 16px;
}

.collapsable-nav-row .main-content-container {
  padding-left: 16px;
  padding-right: 16px;
}

/**
  Add a padding to items on the Character List, so that they
  don't hug the edges of the frame they're in.
*/
.main-content-container .character-list {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

/**
  Make the fadeout gradient on the Character List items use the
  body background colour.
*/
.right-side-fade-out {
  background: -moz-linear-gradient(to right,
      rgba(0,0,0,0) 0%,
      var(--content-bg-light) 100%) !important;
  background: -webkit-linear-gradient(to right,
      rgba(0,0,0,0) 0%,
      var(--content-bg-light) 100%) !important;
  background: -o-linear-gradient(to right,
      rgba(0,0,0,0) 0%,
      var(--content-bg-light) 100%) !important;
  background: -ms-linear-gradient(to right,
      rgba(0,0,0,0) 0%,
      var(--content-bg-light) 100%) !important;
  background: linear-gradient(to right,
      rgba(0,0,0,0) 0%,
      var(--content-bg-light) 100%) !important;
}

/**
  For Extra Large screens
*/

@media screen and (min-width: 1140px) {
  .collapsable-nav-row {
    display: flex;
  }

  .collapsable-nav-row .main-content-container {
    width: 100%;
    padding-top: 0px;
  }
}

/**
  For Large screens
*/

@media screen and (max-width: 1139px) and (min-width: 941px) {
  .collapsable-nav-row .main-content-container {
    float: none;
    width: auto;
    margin-left: 160px;
  }
}

/**
  For Medium / Tablet screens and down. There's an issue at this
  size with how we've moved things to the bottom of the page, so we
  need to restate the main content width.
*/

@media screen and (max-width: 940px) {
  .collapsable-nav-row {
    display: flex;
    flex-direction: column;
  }

  .collapsable-nav-row .front-nav-container {
    display: none !important;
  }

  .collapsable-nav-row .main-content-container {
    position: relative;
    float: none;
    padding: 0px;
    width: 100%;
  }
}
