/**
  This file contains everything for shifting the main-page elements
  around at different display sizes (the left-hand nav sidebar, the
  main content body, and the right-hand sidebar).
*/

/**
  PAGE BODY
  Change the body background colour and override Obsidian Portal's
  content max-width so we can do all that ourselves.
*/
.campaign-public-layout {
  background-color: var(--body-bg-color);
}
.campaign-public-layout #content {
  width: 100%;
  max-width: 100%;
}

/**
  The collapsable nav row contains three parts; the left-hand
  sidebar, the middle main content, and the right-hand campaign
  details sidebar. Let's turn that into a flex element and
  add a single solid background to all of it.
*/
.campaign-public-layout .collapsable-nav-row {
  display: flex;
  background-color: var(--content-bg-dark);
  max-width: var(--content-max-width);
  padding: 16px;
}

/**
  Arrange the three columns in the flex-area.
*/
.collapsable-nav-row .front-nav-container {
  width: 160px;
  flex-shrink: 0;
  margin-right: 16px;
}
.collapsable-nav-row .main-content-container {
  width: 100%;
  padding: 0px;
}
.collapsable-nav-row .main-content-container.full-width {
  float: none;
  width: calc(100% - 176px);
  padding: 0px;
}
.collapsable-nav-row .sidebar {
  width: 260px;
  flex-shrink: 0;
  padding: 0px;
  margin-left: 16px;
}

/**
  Add spacing between footer links
*/
.campaign-public-layout #campaign-footer .inline-list > li {
  margin-left: 0.7em !important;
}

/**
  MEDIUM-LARGE SCREENS
  Knock the right-hand sidebar to the bottom of the page, but make
  the left-hand nav stretch all the way to the bottom of the page.
*/
@media screen and (max-width: 1139px) {
  .campaign-public-layout .collapsable-nav-row {
    flex-wrap: wrap;
  }
  .collapsable-nav-row .front-nav-container {
    position: absolute;
    height: 100%;
  }
  .collapsable-nav-row .main-content-container,
  .collapsable-nav-row .sidebar {
    width: calc(100% - 176px);
    margin-left: 176px;
  }
  .campaign-public-layout #campaign-footer {
    margin-bottom: 0px;
  }
}

/**
  MEDIUM SCREENS AND DOWN
  This is where the page draws out to a full-width, vertical
  colun layout for mobile displays.
*/
@media screen and (max-width: 769px) {
  .collapsable-nav-row .main-content-container,
  .collapsable-nav-row .main-content-container.full-width,
  .collapsable-nav-row .sidebar {
    display: block;
    width: 100%;
    margin: 0px;
  }
}
