.markItUpHeader > ul {
  display: inline-block;
  height: 20px;
  width: auto;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}

.campaign-textarea-container .embed-buttons .button:nth-of-type(1) {
  margin-top: 27px;
}
