/**
  This file contains different CSS classes that can be used to
  style inline divs on different character and wiki pages.
*/

/**
  Helper for having an image in the upper right corner of a page text,
  such as for a location or an adventure log.
*/
.image-float-right,
.imgfloatr {
  float: right;
  max-width: 45%;
  margin: 0px 0px 16px 16px;
}
