/**
 * This file contains styling for the dragon logo topbar with the
 * campaign title, as well as the background image used for
 * the campaign.
*/

.campaign-public-layout .highlight-container {
  height: 4px;
}

.campaign-public-layout .page-background {
  position: absolute;
  max-height: var(--background-image-height);
  background-position: var(--background-image-position);
}

.campaign-public-layout .page-background::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--gradient-color-dark) 0%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--gradient-color-dark) 0%
  );
  background: -o-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--gradient-color-dark) 0%
  );
  background: -ms-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--gradient-color-dark) 0%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--gradient-color-dark) 10%
  );
}
