/**
 * This file contains styling for the dragon logo topbar with the
 * campaign title, as well as the background image used for
 * the campaign.
*/

.campaign-public-layout .page-background {
  max-height: var(--background-image-height);
  background-position: var(--background-image-position);
}

.campaign-public-layout .highlight-container {
  height: 4px;
}
