/**
 * This file contains styling for the dragon logo topbar with the
 * campaign title, as well as the background image used for
 * the campaign.
*/

/**
 Make summary row follow max-width variable
*/

.campaign-public-layout #campaign-summary-row {
  max-width: var(--content-max-width);
}

.campaign-public-layout #campaign-summary-row .campaign-title {
  font-size: var(--title-font-size);
}

@media screen and (max-width: 940px) {
  .campaign-public-layout #campaign-summary-row .campaign-title {
    font-size: calc(var(--title-font-size) * 0.8);
  }
}

@media screen and (max-width: 600px) {
  .campaign-public-layout #campaign-summary-row .campaign-title {
    font-size: calc(var(--title-font-size) * 0.65);
  }
}

.campaign-public-layout .highlight-container {
  height: 4px;
}

/**
  Reposition background and apply variables
*/

.campaign-public-layout .page-background {
  position: absolute;
  max-height: var(--background-image-height);
  background-position: var(--background-image-position);
}

/**
  Add gradient to fade the background image into the
  background colour.
*/

.campaign-public-layout .page-background::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--body-bg-color) 95%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--body-bg-color) 95%
  );
  background: -o-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--body-bg-color) 95%
  );
  background: -ms-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--body-bg-color) 95%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    var(--body-bg-color) 95%
  );
}
