:root {
  --content-max-width: 1240px;
  --content-padding: 0px;
  --header-space-above: 30px;
  --body-bg-color: #19191b;
  --background-image-height: 600px;
  --background-image-position: center 30%;
  --title-font-size: 2.5rem;
  --content-bg-dark: #181818;
  --content-bg-light: #202020;
  --content-bg-accent: #282828;
  --text-color-big: #fff;
  --text-color-body: #c0c0c0;
  --text-color-soft: #909090;
  --bottom-line-color: #686868;
  --sidebar-gradient-top: #292929;
  --sidebar-gradient-bottom: #19191b;
  --sidebar-text-inactive: #868686;
  --sidebar-text-active: #FFF;
  --character-desc-bio-heading-display: none;
}
p {
  font-size: .875em;
}
.campaign-public-layout .campaign-stream-module .summary {
  font-size: .875em;
}
.campaign-public-layout .main-content h1,
.campaign-public-layout .main-content h2,
.campaign-public-layout .main-content h3:not(.subtitle),
.campaign-public-layout .main-content h4:not(.subtitle),
.campaign-public-layout .main-content h5:not(.subtitle),
.campaign-public-layout .main-content h6:not(.subtitle),
.character-index.campaign-public-layout .character-quick-search h4,
.item-index.campaign-public-layout .character-quick-search h4,
body.campaign-public-layout .title a {
  color: var(--text-color-big);
  border-bottom: none;
}
.campaign-public-layout .main-content-container label {
  color: var(--text-color-body);
  margin-top: 4px;
  margin-bottom: 8px;
}
.adventure-log-index .day,
.adventure-log-index .month-year,
.adventure-log-show .day,
.adventure-log-show .month-year,
.op-icon-gm,
.preview-content h2,
.preview-content h3,
.preview-contnet h1,
.section-header.stream .name,
.section-header.stream .section-header-icon,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder,
input[type=text]::placeholder,
textarea::placeholder {
  color: var(--text-color-soft);
}
.campaign-landing-show .campaign-landing-page-container,
.campaign-map-index .map-placard,
.campaign-maps-new .secret-sections > section,
.campaign-maps-new section.main-section,
.campaign-public-layout #sidebar .module,
.campaign-public-layout .post-section.post-gm-only,
.campaign-public-layout.characters-edit .secret-sections > section,
.campaign-public-layout.characters-edit section.main-section,
.campaign-public-layout.items-edit .secret-sections > section,
.campaign-public-layout.items-edit section.main-section,
.campaign-public-layout.posts-edit .secret-sections > section,
.campaign-public-layout.posts-edit section.main-section,
.campaign-public-layout.wiki-pages-edit .secret-sections > section,
.campaign-public-layout.wiki-pages-edit section.main-section,
.campaign-public-layout.wiki-pages-edit section.main-section label,
.character-index.campaign-public-layout .character-list-item,
.character-index.campaign-public-layout .character-quick-search,
.character-index.campaign-public-layout .filter-options,
.character-show .main-content #gm-secrets,
.character-show .main-content section,
.event-edit .secret-sections > section,
.event-edit section.main-section,
.item-index.campaign-public-layout .character-list-item,
.item-index.campaign-public-layout .character-quick-search,
.item-index.campaign-public-layout .filter-options,
.item-show .main-content #gm-secrets,
.item-show .main-content section,
.sidebar-last-updated,
body.campaign-public-layout .post-section.post-gm-only,
body.campaign-public-layout .post-section.post-main {
  background-color: var(--content-bg-light);
  color: var(--text-color-body);
}
.campaign-public-layout #sidebar {
  background-color: var(--content-bg-light);
  color: var(--text-color-body);
}
#gm-secrets .gm-only-header.title,
#gm-secrets .title,
.campaign-public-layout .main-content h2,
.campaign-public-layout .main-content h4.gm-only-header.title .post-gm-only .title,
.character-show .main-content section .title,
.gm-only-header.title,
.item-show .main-content section .title .post-gm-only .gm-only-header.title,
.post-gm-only .title,
.secret-section .gm-only-header.title,
.secret-section .title,
.wiki-page div[itemprop=text] h2 {
  border-bottom: 1px solid var(--bottom-line-color)!important;
}
.campaign-public-layout .main-content h2,
.gm-only-header.title,
.post-gm-only .title,
.wiki-page div[itemprop=text] h2 {
  margin-top: 32px;
  margin-bottom: 10px;
  padding-bottom: 2px;
}
.campaign-public-layout .main-content h2.adventure-log-post-title,
.campaign-public-layout .main-content h2.character-name,
.campaign-public-layout .main-content h2.title-edit,
.campaign-public-layout .main-content h2.wiki-page-name {
  margin-top: 0;
}
.campaign-public-layout .main-content h4.gm-only-header.title {
  margin-top: 8px;
}
body.campaign-public-layout .title ~ div[itemprop=text] {
  margin-top: 24px;
}
ul.as-selections li.as-selection-item {
  color: #333;
}
table {
  border-color: var(--bottom-line-color);
  background: var(--content-bg-dark);
}
table tr th {
  color: var(--text-color-big);
}
table tr td {
  color: var(--text-color-body);
}
table tr.alt,
table tr.even,
table tr:nth-of-type(2n) {
  background: var(--content-bg-light);
}
.campaign-public-layout #campaign-summary-row {
  max-width: var(--content-max-width);
  padding-top: var(--header-space-above);
}
.campaign-public-layout #campaign-summary-row .campaign-title {
  font-size: var(--title-font-size);
}
@media screen and (max-width:940px) {
  .campaign-public-layout #campaign-summary-row .campaign-title {
    font-size: calc(var(--title-font-size) * .8);
  }
}
@media screen and (max-width:600px) {
  .campaign-public-layout #campaign-summary-row .campaign-title {
    font-size: calc(var(--title-font-size) * .65);
  }
}
.campaign-public-layout #banner-container {
  margin-left: -.9375em;
  margin-right: -.9375em;
}
.campaign-public-layout .highlight-container {
  height: 4px;
}
.campaign-public-layout .page-background::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
  background: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
  background: -o-linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
  background: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
}
.campaign-public-layout {
  background-color: var(--body-bg-color);
}
.campaign-public-layout #content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
  width: 100%;
  max-width: 100%;
}
.campaign-public-layout #campaign-summary-row {
  flex-shrink: 0;
}
.campaign-public-layout .collapsable-nav-row {
  flex-grow: 1;
}
.campaign-public-layout .page-background {
  position: absolute;
  max-height: var(--background-image-height);
  background-position: var(--background-image-position);
}
.campaign-public-layout .collapsable-nav-row {
  display: flex;
  background-color: var(--content-bg-dark);
  max-width: var(--content-max-width);
  padding: var(--content-padding);
}
.collapsable-nav-row .front-nav-container {
  width: 160px;
  flex-shrink: 0;
  margin-right: 16px;
}
.collapsable-nav-row .main-content-container {
  width: 100%;
  padding: 0;
}
.collapsable-nav-row .main-content-container.full-width {
  width: calc(100% - 176px);
  padding: 0;
}
.collapsable-nav-row .sidebar {
  width: 280px;
  flex-shrink: 0;
  padding: 0;
  margin-left: 16px;
}
body.campaign-public-layout .post-section {
  margin-bottom: 16px;
}
.campaign-public-layout #campaign-footer .inline-list > li {
  margin-left: .7em!important;
}
@media screen and (max-width:1139px) {
  .collapsable-nav-row .front-nav-container {
    width: 52px;
  }
  .collapsable-nav-row .sidebar {
    width: 220px;
  }
  .collapsable-nav-row .main-content-container.full-width {
    width: calc(100% - 66px);
  }
}
@media screen and (max-width:769px) {
  .campaign-public-layout .collapsable-nav-row {
    flex-wrap: wrap;
  }
  .collapsable-nav-row .main-content-container,
  .collapsable-nav-row .main-content-container.full-width,
  .collapsable-nav-row .sidebar {
    display: block;
    width: 100%;
    margin: 0;
  }
  .campaign-public-layout #campaign-footer {
    margin-bottom: 0;
  }
  .campaign-public-layout #campaign-footer .links {
    padding: 0 16px;
  }
  .collapsable-nav-row .main-content-container {
    padding-top: 0!important;
  }
  .campaign-public-layout #sidebar {
    margin-top: 0!important;
  }
}
.main-content-container .character-list {
  padding-left: .9375em;
  padding-right: .9375em;
}
.right-side-fade-out {
  background: -moz-linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
  background: -webkit-linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
  background: -o-linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
  background: -ms-linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
  background: linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
}
.main-content-container div[itemprop=text] > h6 {
  display: var(--character-desc-bio-heading-display);
}
.main-content-container #campaign-footer {
  padding: 16px 20px;
  background: var(--content-bg-light);
  margin-top: 16px;
  margin-bottom: 0;
}
.main-content-container #campaign-footer .links {
  margin: 0;
}
.adventure-log-index .adventure-log-post,
.adventure-log-show .post-comments,
.adventure-log-show .post-header-container {
  background: var(--content-bg-light);
  color: var(--text-color-body);
}
.adventure-log-index .post-date,
.adventure-log-index-filter .filter-header,
.adventure-log-index-filter ul .active,
.adventure-log-show .post-date {
  background-color: var(--content-bg-light);
}
.adventure-log-index .adventure-log-new-container,
.sidebar-adventure-log-neighbors .neighbor-post .post-column {
  background-color: var(--content-bg-accent);
}
.sidebar-adventure-log-neighbors .neighbor-post .adventure-log-post-title {
  color: var(--text-color-body);
}
.sidebar-adventure-log-neighbors {
  padding-right: 16px;
}
.adventure-log-index .overflow-fade-out {
  background: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0,var(--content-bg-light) 100%);
  background: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0,var(--content-bg-light) 100%);
  background: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0,var(--content-bg-light) 100%);
  background: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0,var(--content-bg-light) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,var(--content-bg-light) 100%);
}
.collapsable-nav-row .front-nav-container {
  padding: 8px 0 0;
}
.collapsable-nav-row .front-nav-container nav {
  width: 100%;
}
.collapsable-nav-row .front-nav-container nav li {
  padding-left: 8px;
}
.collapsable-nav-row .front-nav-container {
  background: -moz-linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
  background: -webkit-linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
  background: -o-linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
  background: -ms-linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
  background: linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
}
.campaign-public-layout #campaign-nav {
  background: 0 0;
}
.campaign-public-layout #campaign-nav .icon {
  background: 0 0;
}
.campaign-public-layout #campaign-nav li {
  font-weight: 400;
}
.campaign-public-layout #campaign-nav li a {
  color: var(--sidebar-text-inactive);
}
.campaign-public-layout #campaign-nav li.active a,
.campaign-public-layout #campaign-nav li:hover a {
  color: var(--sidebar-text-active);
}
@media screen and (max-width:1139px) {
  .collapsable-nav-row .front-nav-container nav li {
    padding-left: 8px;
  }
  .collapsable-nav-row .front-nav-container .nav-text {
    display: none;
  }
}
.campaign-public-layout #sidebar .campaign-stream-module,
.campaign-public-layout #sidebar .sidebar-last-updated,
.campaign-public-layout #sidebar .sidebar-party-members,
.campaign-public-layout #sidebar .sidebar-quick-stats {
  width: 100%;
  border: none;
  padding: 16px;
  margin-bottom: 16px;
}
.sidebar-quick-stats .fan-counter-container {
  margin-top: 16px;
}
.sidebar-party-members .game-master {
  background: 0 0;
  border: none;
  max-width: none;
}
.comment-count-wrapper,
.fan-count-wrapper,
.sidebar-last-updated .updated-by-container .who {
  background: var(--content-bg-accent);
  border: none;
  max-width: none;
}
.sidebar-see-all-wiki-pages {
  padding: 0 16px!important;
}
.see-all-wiki-pages-button,
.sidebar-last-updated,
.sidebar-see-all-wiki-pages {
  width: 100%!important;
}
.quick-stats-container .row {
  display: flex;
}
.quick-stats-container .row .small-5 {
  width: 100px;
  flex-shrink: 0;
}
.quick-stats-container .row .small-7 {
  width: 100%;
}
.sidebar-party-members .game-master .small-3 {
  max-width: 50px;
}
.sidebar-party-members .player-characters .player {
  clear: none;
  max-width: 70px;
  max-height: 60px;
  padding-bottom: .625em;
}
.sidebar-last-updated .updated-by-container .when .time {
  padding-top: 0;
}
.recent-updates .recent-update .avatar {
  max-width: 80px;
}
.sidebar-quick-stats .become-a-fan-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-quick-stats .become-a-fan-button .icon-card-hearts {
  display: block;
}
.sidebar-quick-stats .become-a-fan-button .text {
  top: 0;
  margin-left: 6px;
}
#campaign-stream .stream-module-container {
  margin: 0;
}
#campaign-stream .stream-module-container .large-12 {
  padding: 0;
}
@media screen and (max-width:1139px) {
  .fan-counter-container .become-a-fan-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fan-counter-container .become-a-fan-button .text {
    display: none;
  }
}
@media screen and (max-width:769px) {
  .campaign-public-layout #sidebar {
    display: block;
  }
  .campaign-public-layout #sidebar #campaign-quick-stats,
  .campaign-public-layout #sidebar #campaign-stream,
  .campaign-public-layout #sidebar .sidebar-party-members {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
.markItUpHeader > ul {
  display: inline-block;
  height: 20px;
  width: auto;
  padding: 2px;
  background-color: rgba(255,255,255,.8);
}
.campaign-textarea-container .embed-buttons .button:nth-of-type(1) {
  margin-top: 27px;
}
.image-float-right,
.imgfloatr {
  float: right;
  max-width: 45%;
  margin: 0 0 16px 16px;
}