:root {
  --content-max-width: 1400px;
  --body-bg-color: #161617;
  --background-image-height: 600px;
  --background-image-position: center 30%;
  --title-font-size: 2.5rem;
  --content-bg-dark: #161617;
  --content-bg-light: #1f2022;
  --text-color-big: #fff;
  --text-color-body: #C0C0C0;
  --text-color-soft: #868686;
  --bottom-line-color: #686868;
  --sidebar-gradient-top: #292929;
  --sidebar-gradient-bottom: #161617;
  --character-desc-bio-heading-display: none;
}
p {
  font-size: .875em;
}
.campaign-public-layout .main-content h1,
.campaign-public-layout .main-content h2,
.campaign-public-layout .main-content h3,
.campaign-public-layout .main-content h4,
.campaign-public-layout .main-content h5,
.campaign-public-layout .main-content h6,
.character-index.campaign-public-layout .character-quick-search h4,
.item-index.campaign-public-layout .character-quick-search h4 {
  color: var(--text-color-big);
  border-bottom: none;
}
.campaign-public-layout #sidebar {
  color: var(--text-color-body);
}
.campaign-public-layout .main-content-container label {
  color: var(--text-color-body);
  margin-top: 4px;
  margin-bottom: 8px;
}
.op-icon-gm,
.preview-content h2,
.preview-content h3,
.preview-contnet h1,
.section-header.stream .name,
.section-header.stream .section-header-icon,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder,
input[type=text]::placeholder,
textarea::placeholder {
  color: var(--text-color-soft);
}
.campaign-landing-show .campaign-landing-page-container,
.campaign-maps-new .secret-sections > section,
.campaign-maps-new section.main-section,
.campaign-public-layout #sidebar .module,
.campaign-public-layout .main-content,
.campaign-public-layout.characters-edit .secret-sections > section,
.campaign-public-layout.characters-edit section.main-section,
.campaign-public-layout.items-edit .secret-sections > section,
.campaign-public-layout.items-edit section.main-section,
.campaign-public-layout.posts-edit .secret-sections > section,
.campaign-public-layout.posts-edit section.main-section,
.campaign-public-layout.wiki-pages-edit .secret-sections > section,
.campaign-public-layout.wiki-pages-edit section.main-section,
.campaign-public-layout.wiki-pages-edit section.main-section label,
.character-index.campaign-public-layout .character-list-item,
.character-index.campaign-public-layout .character-quick-search,
.character-index.campaign-public-layout .filter-options,
.character-show .main-content section,
.event-edit .secret-sections > section,
.event-edit section.main-section,
.item-index.campaign-public-layout .character-list-item,
.item-index.campaign-public-layout .character-quick-search,
.item-index.campaign-public-layout .filter-options,
.item-show .main-content section,
.sidebar-last-updated,
body.campaign-public-layout .post-section.post-gm-only,
body.campaign-public-layout .post-section.post-main {
  background-color: var(--content-bg-light);
  color: var(--text-color-body);
}
ul.as-selections li.as-selection-item {
  color: #333;
}
.campaign-public-layout .main-content h2,
.gm-only-header.title,
.post-gm-only .title,
.wiki-page div[itemprop=text] h2 {
  border-bottom: 1px solid var(--bottom-line-color);
  margin-top: 32px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}
.campaign-public-layout .main-content h2.character-name,
.campaign-public-layout .main-content h2.title-edit,
.campaign-public-layout .main-content h2.wiki-page-name {
  margin-top: 0;
}
body.campaign-public-layout .title ~ div[itemprop=text] {
  margin-top: 24px;
}
.social-share-button {
  display: none;
}
.campaign-public-layout #campaign-summary-row {
  max-width: var(--content-max-width);
}
.campaign-public-layout #campaign-summary-row .campaign-title {
  font-size: var(--title-font-size);
}
@media screen and (max-width:940px) {
  .campaign-public-layout #campaign-summary-row .campaign-title {
    font-size: calc(var(--title-font-size) * .8);
  }
}
@media screen and (max-width:600px) {
  .campaign-public-layout #campaign-summary-row .campaign-title {
    font-size: calc(var(--title-font-size) * .65);
  }
}
.campaign-public-layout .highlight-container {
  height: 4px;
}
.campaign-public-layout .page-background {
  position: absolute;
  max-height: var(--background-image-height);
  background-position: var(--background-image-position);
}
.campaign-public-layout .page-background::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
  background: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
  background: -o-linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
  background: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 50%,var(--body-bg-color) 95%);
}
.campaign-public-layout {
  background-color: var(--sidebar-gradient-bottom);
}
.campaign-public-layout #content {
  width: 100%;
  max-width: 100%;
}
.collapsable-nav-row {
  position: relative;
  background-color: var(--content-bg-dark);
  max-width: var(--content-max-width);
  padding: 16px;
}
.collapsable-nav-row .main-content-container {
  padding-left: 16px;
  padding-right: 16px;
}
.characters-edit .collapsable-nav-row .main-content-container,
.wiki-pages-edit .collapsable-nav-row .main-content-container {
  width: 100%;
  padding-right: 0;
}
.main-content-container .character-list {
  padding-left: .9375em;
  padding-right: .9375em;
}
.main-content-container .character-list ~ .character-list {
  padding-top: 32px;
}
.main-content-container div[itemprop=text] > h6 {
  display: var(--character-desc-bio-heading-display);
}
.right-side-fade-out {
  background: -moz-linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
  background: -webkit-linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
  background: -o-linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
  background: -ms-linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
  background: linear-gradient(to right,rgba(0,0,0,0) 0,var(--content-bg-light) 100%)!important;
}
@media screen and (min-width:1140px) {
  .collapsable-nav-row {
    display: flex;
  }
  .collapsable-nav-row .main-content-container {
    width: 100%;
    padding-top: 0;
  }
}
@media screen and (max-width:1139px) and (min-width:941px) {
  .collapsable-nav-row .main-content-container {
    float: none;
    width: auto;
    margin-left: 160px;
  }
  .characters-edit .collapsable-nav-row .main-content-container,
  .wiki-pages-edit .collapsable-nav-row .main-content-container {
    width: calc(100% - 160px);
  }
}
@media screen and (max-width:940px) {
  .collapsable-nav-row {
    display: flex;
    flex-direction: column;
  }
  .collapsable-nav-row .front-nav-container {
    display: none!important;
  }
  .collapsable-nav-row .main-content-container {
    position: relative;
    float: none;
    padding: 0;
    width: 100%;
  }
  .characters-edit .collapsable-nav-row .main-content-container,
  .wiki-pages-edit .collapsable-nav-row .main-content-container {
    padding-left: 0;
  }
}
.collapsable-nav-row .front-nav-container {
  background: -moz-linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
  background: -webkit-linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
  background: -o-linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
  background: -ms-linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
  background: linear-gradient(to bottom,var(--sidebar-gradient-top) 0,var(--sidebar-gradient-bottom) 100%);
  padding-top: .9375em;
}
.campaign-public-layout #campaign-nav {
  background: 0 0;
}
.campaign-public-layout #campaign-nav .icon {
  background: 0 0;
}
.campaign-public-layout #campaign-nav li {
  opacity: .6;
  font-weight: 400;
}
.campaign-public-layout #campaign-nav li.active {
  opacity: 1;
}
.collapsable-nav-row .front-nav-container {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}
.collapsable-nav-row .front-nav-container #campaign-nav {
  width: 130px;
}
@media screen and (max-width:1139px) and (min-width:941px) {
  .collapsable-nav-row .front-nav-container {
    position: absolute;
    height: 100%;
  }
  .collapsable-nav-row .front-nav-container #campaign-nav {
    width: 130px;
  }
  .campaign-public-layout #sidebar,
  .collapsable-nav-row .main-content-container {
    float: none;
    width: auto;
    margin-left: 160px;
    padding-right: 0;
  }
}
@media screen and (max-width:940px) {
  .collapsable-nav-row {
    display: flex;
    flex-direction: column;
  }
  .collapsable-nav-row .front-nav-container {
    display: none!important;
  }
}
.campaign-public-layout #campaign-footer .inline-list > li {
  margin-left: .7em!important;
}
.campaign-landing-show .campaign-landing-page-container,
.campaign-public-layout #sidebar .module,
.sidebar-last-updated {
  width: 100%;
  border: none;
  padding: 8px;
  margin-bottom: 16px;
}
.comment-count-wrapper,
.fan-count-wrapper,
.sidebar-party-members .game-master {
  background: 0 0;
  border: none;
  max-width: none;
}
.sidebar-last-updated {
  width: 100%!important;
}
.sidebar-see-all-wiki-pages {
  padding: 0!important;
}
.sidebar-party-members .game-master .small-3 {
  max-width: 50px;
}
.sidebar-party-members .player-characters .player {
  clear: none;
  max-width: 70px;
  max-height: 60px;
  padding-bottom: .625em;
}
.sidebar-last-updated .updated-by-container .when .time {
  padding-top: 0;
}
.recent-updates .recent-update .avatar {
  max-width: 80px;
}
@media screen and (min-width:1140px) {
  .campaign-public-layout #sidebar {
    min-width: 250px;
    margin-top: 0;
    padding: 0;
  }
}
@media screen and (max-width:1139px) and (min-width:941px) {
  .campaign-public-layout #campaign-footer {
    margin-bottom: 0;
  }
  .campaign-public-layout #sidebar {
    display: flex;
    flex-wrap: wrap;
  }
  .campaign-public-layout #sidebar .sidebar-party-members {
    width: calc(50% - 8px);
    margin-right: 8px;
  }
  .campaign-public-layout #sidebar #campaign-quick-stats {
    width: calc(50% - 8px);
    margin-left: 8px;
  }
}
@media screen and (max-width:940px) {
  .campaign-public-layout #campaign-footer {
    margin-bottom: 0;
  }
  .campaign-public-layout #sidebar {
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 100%;
    padding: 0;
  }
  .campaign-public-layout #sidebar .sidebar-party-members {
    width: calc(50% - 8px);
    margin-right: 8px;
  }
  .campaign-public-layout #sidebar #campaign-quick-stats {
    width: calc(50% - 8px);
    margin-left: 8px;
  }
}
@media screen and (max-width:600px) {
  .campaign-public-layout #sidebar {
    display: block;
  }
  .campaign-public-layout #sidebar #campaign-quick-stats,
  .campaign-public-layout #sidebar .sidebar-party-members {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.markItUpHeader > ul {
  display: inline-block;
  height: 20px;
  width: auto;
  padding: 2px;
  background-color: rgba(255,255,255,.8);
}
.campaign-textarea-container .embed-buttons .button:nth-of-type(1) {
  margin-top: 27px;
}