/**
 * This is a themefile, applying a set of styles to be used
 * when compiling a themed style from the available components.
 * It then imports all partials afterwards, so that this single
 * SCSS file can be compiled into a CSS file without needing to
 * gather all SASS files during the build.
 */

:root {
  --content-max-width: 1400px;
  --content-padding: 0px;
  --body-bg-color: #19191B;
  --background-image-height: 600px;
  --background-image-position: center 30%;
  --title-font-size: 2.5rem;

  --content-bg-dark: #19191B;
  --content-bg-light: #1f2022;
  --content-bg-accent-1: #212325;
  --content-bg-accent-2: #242628;
  --content-bg-accent-3: #353638;

  --text-color-big: #fff;
  --text-color-body: #C0C0C0;
  --text-color-soft: #868686;
  --bottom-line-color: #686868;

  --sidebar-gradient-top: #292929;
  --sidebar-gradient-bottom: #19191B;

  --character-desc-bio-heading-display: none;
}

@import './components/_partials.scss';
