/**
 * This is a themefile, applying a set of styles to be used
 * when compiling a themed style from the available components.
 * It then imports all partials afterwards, so that this single
 * SCSS file can be compiled into a CSS file without needing to
 * gather all SASS files during the build.
 */

:root {
  --content-max-width: 1400px;
  --body-bg-color: #161617;
  --background-image-height: 600px;
  --background-image-position: center 30%;
  --title-font-size: 2.5rem;

  --content-bg-dark: #161617;
  --content-bg-light: #1f2022;

  --bottom-line-color: #323638;
  --text-color: #dee2e6;
  --text-color-big: #fff;
  --soft-text-color: #868e96;

  --sidebar-gradient-top: #1f2022;
  --sidebar-gradient-bottom: #161617;
}

@import './components/_partials.scss';
