/**
 * This is a themefile, applying a set of styles to be used
 * when compiling a themed style from the available components.
 * It then imports all partials afterwards, so that this single
 * SCSS file can be compiled into a CSS file without needing to
 * gather all SASS files during the build.
 */ 

:root {
  --content-max-width: 1240px;
  --content-padding: 0px;
  --header-space-above: 30px;
  --body-bg-color: #e0e0e0;
  --background-image-height: 600px;
  --background-image-position: center 30%;
  --title-font-size: 2.5rem;

  --content-bg-dark: #eeedeb;
  --content-bg-light: #fffefc;
  --content-bg-accent: #f8f7f7;

  --text-color-big: #681f17;
  --text-color-body: #414141;
  --bottom-line-color: none;

  --sidebar-gradient-top: #FFF;
  --sidebar-gradient-bottom: #FFF;
  --sidebar-text-inactive: #414141;
  --sidebar-text-active: #FFF;

  --character-desc-bio-heading-display: none;

  /* Light-mode specific vars */
  --light-mode-icons: #959595;
}

@import './components/_partials.scss';

/* Theme specific alterations can go below here */

/**
  Add new font to headings
*/
.campaign-public-layout .main-content h1,
.campaign-public-layout .main-content h2,
.campaign-public-layout .main-content h3,
.campaign-public-layout .main-content h4,
.campaign-public-layout .main-content h5,
.campaign-public-layout .main-content h6,
.character-index.campaign-public-layout .character-quick-search h4,
.item-index.campaign-public-layout .character-quick-search h4,
body.campaign-public-layout .title a {
  font-family: 'Kallisto', Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.campaign-public-layout .main-content h1,
.campaign-public-layout .main-content h2,
.campaign-public-layout .main-content h3,
.post-gm-only .gm-only-header.title, 
.post-gm-only .title, 
#gm-secrets .gm-only-header.title, 
#gm-secrets .title, 
.secret-section .gm-only-header.title, 
.secret-section .title {
  text-transform: uppercase;
}

/**
  Adjust some other fonts as well 
*/
.campaign-stream-module h2.name,
.character-index.campaign-public-layout .secondary-heading, 
.item-index.campaign-public-layout .secondary-heading {
  font-family: 'Kallisto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/**
  Lighten big icons in this light theme
**/
.section-header.stream .section-header-icon,
.op-icon-gm,
.campaign-public-layout #campaign-nav li .icon {
  color: var(--light-mode-icons);
}
.campaign-public-layout #campaign-nav li.active .icon,
.campaign-public-layout #campaign-nav li:hover .icon {
  color: var(--sidebar-text-active);
}

/**
  The page body background has a soft texture in this theme
*/
.campaign-public-layout .collapsable-nav-row {
  background: url('https://i.imgur.com/7nYisv5.png');
  background-size: 800px;
  background-repeat: repeat;
}

/**
  Soft box-shadow to complement the texture
*/
.main-content-container .campaign-landing-page-container,
.main-content-container .post-section,
.main-content-container #campaign-footer,
.collapsable-nav-row .front-nav-container,
.collapsable-nav-row .sidebar,
#character-details,
.character-index.campaign-public-layout .character-quick-search,
.character-index.campaign-public-layout .character-list-item {
  box-shadow: 0px 0px 2px rgba(0,0,0,0.15);
}

/**
  Make certain buttons and boxes use a 'shaved edges'
  look, for that added scifi flair
*/
.adventure-log-new-container .adv-new {
  border-radius: 0px 6px; 
}

/**
  Add yellow bar accent in top-right corner of posts
*/
.campaign-landing-page-container,
.wiki-page-container .post-main,
#character-details {
  background-image: url(https://i.imgur.com/ehizlKB.png);
  background-repeat: no-repeat;
  background-position: right top 20px;
}
